# requirements_dev.txt
#
# installs dev dependencies from ./setup.py, and the package itself,
# in editable mode
-e ./[testing]

# (the -e above is optional). you could also just install the package
# normally with just the line below (after uncommenting)
# .